$light: white;
$dark: black;
$destaque_texto: #b8916a;
$cor-btn: #3c3d3d;
$cor-btn_ver_mais: #231d46;
$btn_ver_mais_hover: #77bdbc;
$hover_atualidades: #6c6b6b;
$cor-border: #c7c6c5;
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
