.nav-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.about {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.cards {
  .services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
    justify-content: center;
  }

  .content-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .content-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .content-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  @media (max-width: 900px) {
    .services {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0px;
    }

    .content-1 {
      grid-row: 1 / 2;
      grid-column: 1 / 1;
    }

    .content-2 {
      grid-row: 3 / 4;
      grid-column: 1 / 1;
    }

    .content-3 {
      grid-row: 5 / 6;
      grid-column: 1 / 1;
    }
  }
}

.btn_cards_mobile {
  @media (max-width: 900px) {
    .services_atl {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0px;
    }

    .content_atl-1 {
      grid-row: 1 / 2;
      grid-column: 1 / 1;
    }

    .content_atl-2 {
      grid-row: 3 / 4;
      grid-column: 1 / 1;
    }

    .content_alt-3 {
      grid-row: 5 / 6;
      grid-column: 1 / 1;
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
