header {
  width: 100%;
  height: 100vh;
  background-image: url(/img/bg11.png);
  background-position: center;
  background-size: cover;

  .content-texts {
    margin-top: 195px;
    margin-left: 24px;
  }

  .text-header {
    color: $destaque_texto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .title-header {
    margin-bottom: 10px;
  }
}

#text-header {
  padding-bottom: 50px;
}

@media screen and (max-width: 900px) {
  header {
    height: auto;
    width: auto;

    .content-texts {
      margin-top: 100px;
    }
  }
}
