<div class="relato" id="testimonials">
  <div class="relato-container">
    <h1 class="relato-titleR">Depoimento</h1>
    <p class="relato-textR">
      “Meu intercâmbio em Portugal foi uma experiência verdadeiramente
      emocionante e transformadora. Desde o momento em que coloquei os pés nesse
      país acolhedor e encantador, eu sabia que minha jornada seria
      inesquecível.”
    </p>
    <div class="relato-person">
      <img
        class="relato-imageRelato"
        src="../../../../assets/relato_I.png"
        alt="Pessoa"
      />
      <h1 class="relato-personNames">Michele Medeiros</h1>
    </div>
  </div>
</div>
