@media screen and (min-width: 901px) {
  .btn_cards_mobile {
    display: none; } }

@media (max-width: 900px) {
  .services_atl {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px; }
  .content_atl-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 1; }
  .content_atl-2 {
    grid-row: 3 / 4;
    grid-column: 1 / 1; }
  .content_alt-3 {
    grid-row: 5 / 6;
    grid-column: 1 / 1; } }

@media (max-width: 900px) {
  .btn_cards_mobile {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-color: #fff; }
  .btn_cards_mobile.show {
    display: flex; }
  .btn_cards_mobile h2.header {
    font-size: 40px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .content_atl {
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 4px;
    transition: all 0.3s ease;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .content_atl:hover {
    color: white; }
  .content_atl:hover a {
    border-color: white;
    background: white; }
  .content_atl-1:hover {
    border-color: #1da1f2;
    background: #1da1f2; }
  .content_atl-1:hover a {
    color: #1da1f2; }
  .content_atl-2:hover {
    border-color: #ff69b4;
    background: #ff69b4; }
  .content_atl-2:hover a {
    color: #ff69b4; }
  .content_atl-3:hover {
    border-color: #ffd700;
    background: #ffd700; }
  .content_atl-3:hover a {
    color: #ffd700; } }
