@media screen and (min-width: 901px) {
  .btn_cards_mobile {
    display: none;
  }
}
@media (max-width: 900px) {
  .button-container {
    display: none;
  }
  .cards {
    display: none;
  }
  .btn_cards_mobile {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-color: #fff;
  }

  .btn_cards_mobile.show {
    display: flex;
  }

  .content_atl {
    margin: 20px;
    padding: 20px;
    border: 2px solid $cor-border;
    border-radius: 4px;
    transition: all 0.3s ease;
    background: $light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .content_atl a {
    padding: 10px 20px;
    margin: 50px 0 10px 0;
    border: none;
    border-radius: 4px;
    background: #231d46;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .content_atl:hover {
    color: white;
  }

  .content_atl:hover a {
    border-color: white;
    background: white;
  }

  .content_atl-1:hover {
    border-color: $cor-border;
    // background: $cor-btn_ver_mais;
    background-image: linear-gradient(
      to bottom right,
      #231d46,
      #77bdbc,
      #231d46
    );
  }

  .content_atl-1:hover a {
    color: $cor-btn_ver_mais;
  }

  .content_atl-2:hover {
    border-color: $cor-border;
    background-image: linear-gradient(
      to bottom right,
      #231d46,
      #77bdbc,
      #231d46
    );
  }
  .content_atl-2:hover a {
    color: $cor-btn_ver_mais;
  }

  .content_atl-3:hover {
    border-color: $cor-border;
    background-image: linear-gradient(
      to bottom right,
      #231d46,
      #77bdbc,
      #231d46
    );
  }
  .content_atl-3:hover a {
    color: $cor-btn_ver_mais;
  }
  #imgAtualidades {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 400px) {
  #imgAtualidades {
    width: 50px;
    height: 50px;
  }
}
