<body>
  <div class="destinos">
    <h1 class="destinos-titleD">Explore Portugal</h1>
    <br />
    <p class="destinos-descricao">
      De Lisboa ao Porto, do Algarve aos Açores, dicas úteis e informações
      privilegiadas ajudarão você a aproveitar ao máximo sua experiência em
      Portugal.
    </p>
  </div>

  <div class="gallery">
    <div class="gallery-item">
      <img src="../../../../assets/porto.jpg" alt="Imagem 1" />
      <br />
      <div class="gallery-item-title">Porto</div>
      <div class="gallery-item-description">
        Porto, segunda maior cidade de Portugal, é encantador com história rica
        e cultura vibrante. Oferece vistas deslumbrantes do rio Douro,
        arquitetura deslumbrante e o bairro histórico da Ribeira com suas ruas
        coloridas.
      </div>
    </div>
    <div class="gallery-item">
      <img src="../../../../assets/coimbra.jpg" alt="Imagem 2" />
      <br />
      <div class="gallery-item-title">Coimbra</div>
      <div class="gallery-item-description">
        Coimbra, cidade no centro de Portugal, é conhecida por sua rica história
        e prestigiosa universidade. Encanta com arquitetura imponente, como a
        Biblioteca Joanina, e cultura vibrante em suas charmosas ruas.
      </div>
    </div>
    <div class="gallery-item">
      <img src="../../../../assets/aveiro.jpg" alt="Imagem 3" />
      <br />
      <div class="gallery-item-title">Aveiro</div>
      <div class="gallery-item-description">
        Aveiro, "Veneza de Portugal", é uma cidade costeira encantadora com
        canais navegáveis, barcos moliceiros coloridos e arquitetura art
        nouveau. Famosa pelos ovos moles e belas praias, é um destino encantador
        para explorar a cultura marítima.
      </div>
    </div>
    <div class="gallery-item">
      <img src="../../../../assets/lisboa.jpg" alt="Imagem 4" />
      <br />
      <div class="gallery-item-title">Lisboa</div>
      <div class="gallery-item-description">
        Lisboa, a capital de Portugal, combina história, cultura e charme, com
        arquitetura única e colinas pitorescas. Pontos turísticos imperdíveis
        incluem o Castelo de São Jorge, a Torre de Belém e a Praça do Comércio e
        muitos outros.
      </div>
    </div>
    <div class="gallery-item">
      <img src="../../../../assets/evora.jpg" alt="Imagem 5" />
      <br />
      <div class="gallery-item-title">Évora</div>
      <div class="gallery-item-description">
        Évora, cidade histórica no Alentejo, encanta com seu patrimônio cultural
        e arquitetura medieval preservada. Muralhas antigas, ruas de
        paralelepípedos e a impressionante Catedral de Évora oferecem uma viagem
        no tempo.
      </div>
    </div>
    <div class="gallery-item">
      <img src="../../../../assets/algarveII.jpg" alt="Imagem 6" />
      <br />
      <div class="gallery-item-title">Algarve</div>
      <div class="gallery-item-description">
        O Algarve, no sul de Portugal, é um paraíso com praias deslumbrantes,
        falésias impressionantes e águas cristalinas. Com clima ensolarado e
        cativante, é um destino popular para férias de praia e atividades
        aquáticas.
      </div>
    </div>
    <div class="gallery-item">
      <img src="../../../../assets/madeira.jpg" alt="Imagem 7" />
      <br />
      <div class="gallery-item-title">Madeira</div>
      <div class="gallery-item-description">
        Madeira, ilha portuguesa no Oceano Atlântico, é um paraíso natural com
        paisagens exuberantes, montanhas impressionantes e florestas exóticas.
        Clima ameno proporciona caminhadas e observação da vida selvagem.
      </div>
    </div>
    <div class="gallery-item">
      <img src="../../../../assets/Acores.jpeg" alt="Imagem 8" />
      <br />
      <div class="gallery-item-title">Açores</div>
      <div class="gallery-item-description">
        Os Açores, arquipélago no Oceano Atlântico, oferecem paisagens
        vulcânicas, lagoas cristalinas e montanhas imponentes. Com atividades ao
        ar livre, como caminhadas, mergulho e observação de baleias, é um
        destino intocado para amantes da natureza.
      </div>
    </div>
  </div>
</body>
