<body>
  <div class="content1" id="about">
    <div class="content1-blockLeft">
      <div class="content1-imgR" id="imgR">
        <img src="../../../../assets/img_right.png" alt="" />
      </div>
      <div class="content1-text1">
        <h2 class="content1-titleA">Sobre:</h2>
        <br />
        <section>
          <span>
            Portugal, localizado na Península Ibérica, é um país encantador e
            diversificado. Com uma história rica que remonta a séculos, oferece
            aos visitantes uma mistura única de patrimônio cultural, paisagens
            deslumbrantes e uma rica tradição gastronômica.
          </span>
          <br />
          <br />
          <span>
            Das belas praias do Algarve às montanhas do Douro Vinhateiro, dos
            castelos medievais às charmosas cidades históricas, Portugal cativa
            com sua autenticidade e hospitalidade.
          </span>
          <br />
          <br />
        </section>
        <button class="content1-buttonA">
          <span>Read more</span>
          <span>&gt;</span>
        </button>
        <div class="content1-imgR_II" id="imgR">
          <img src="../../../../assets/right_II.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="content2">
    <div class="content2-blockRight">
      <div class="content2-imgL" id="imgL">
        <img src="../../../../assets/img_left.png" alt="" />
      </div>
      <div class="content2-text2">
        <h2 class="content1-titleA">Descubra a Alma de Portugal:</h2>
        <br />
        <section>
          <span>
            Venha explorar a rica cultura portuguesa e suas tradições enraizadas
            em séculos de história. Embarque em uma jornada emocionante através
            da música apaixonada do fado, das danças tradicionais como o vira e
            o corridinho, e dos festivais animados que celebram a identidade
            única de cada região.
          </span>
          <br />
          <br />
        </section>
        <button class="content2-buttonA">
          <span>Read more</span>
          <span>&gt;</span>
        </button>
        <div class="content2-imgL_II" id="imgL">
          <img src="../../../../assets/left_II.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</body>
